* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: monospace;
  color: #5D6063;
}

a:link, a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*  Tables  */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  padding-right: 20px;
  border-bottom: 2px solid #dedede;
}

tfoot {
  border-top: 2px solid #dedede;
}

td {
  padding-right: 20px;
  border-bottom: 2px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}


/* Buttons */

form > input[type=button], button {
  background-color: #aa61b0;
  border: 1px solid #873b8e;
  padding: 7px 10px 7px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

form > input[type=button]:hover, button:hover {
  background-color: #a354ab;
  cursor: pointer;
}

form > label {
  display: flex;
  font-weight: bold;
  padding: 10px 10px 0px 20px;
}

form > input {
  display: flex;
  margin: 5px 20px 20px 10px;
  justify-content: center;
}

form > input[type=button] {
  display: flex;
  width: 150px;
  align-self: center;
}

form {
  background-color: #dacbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 33%;
}

.form-container {
  margin: 25px;
  display: flex;
  justify-content: center;
}